body {
  font-family: 'Cabin';
}

h1, h2, h5, .navbar-brand {
  font-family: 'Josefin Sans';
  font-weight: 500;
}

.navbar {
    background-color: transparent; 
}

.navbar-brand {
    color: white;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 1);
    -webkit-text-stroke: 0.4px darkgray;
    font-size:1.5rem;
    font-weight:700;
}

.navbar img {
    height:2rem;
    width: auto;
  }

.nav-link {
    color:white;
    font-size: 1.1rem;
    font-weight:700;
    -webkit-text-stroke: 0.4px darkgray;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 1);
  }

.carousel-item img {
  height:100vh;
  object-fit:cover;
}

h2 {
  margin-top:2.5rem;
  text-align:center;
}

#QuienesSomos .card {
  margin-top: 3rem;
}

.icons1 {
  font-size:1.5rem;
  background-color:darkcyan;
  color:white;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.5rem 0;
  border-radius: 5px;
}

#QuienesSomos .card-text {
  margin-top:0.5rem;
  margin-bottom:0.5rem;
}

#QuienesSomos .card-body {
  display: flex;
  flex-direction:column;
  align-items:center;
}

#Destacados .card {
  background-color: darkcyan;
  color:white;
}

#Destacados h2, #Contacto h2 {
  margin-bottom:2rem;
}

#Destacados .card-img-top {
  height:10rem;
  object-fit:cover;
}                      
                                         
#Destacados .card-title {
  font-size:1.5rem;
}

.card-text {
  text-align: justify;
}

#Contacto .form-label {
  color:darkcyan;
}

#Contacto .btn {
  background-color:darkcyan;
  color:white;
}

footer {
  background-color:darkcyan;
  color:white;
  padding:1rem;
  margin-top: 2rem;
}

html {
  scroll-behavior: smooth;
}

footer a {
  color:white;
  text-decoration:none;
  font-size:2rem;
}

footer .textfooter {
  font-size:2rem;
  margin-top: 0.8rem;
}
